* {
margin: 0 0 0 0;
padding: 0 0 0 0}

body {
margin: auto
max-width: 1440px;
color: #333333;
font-family:  Trebuchet MS , arial , Sans , verdana, tahoma , serif;
font-size: 18px;
font-style: normal;
font-weight:normal;
background: linear-gradient(#e0e0e2, #fffaf0);
}

h1{
    font-weight: lighter;
}
h2 {
    
    margin-top: 0.1cm;
}
p{
    margin: 0.5cm 0cm 0cm 0.5cm;
}

ul {
    list-style: armenian;
}

body {
  margin: 0;
  padding: 0;
  background: #ccc;
}
 
.nav ul {
  list-style: armenian;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: 4cm;
  }
 
  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}